<%= render 'loader' %>
<div id="wrapper">
  <%= render 'modal' %>
  <%= render 'header_menu' %>
  <%= render 'home_video' %>
  <%= render 'formlist' %>
  <%= render 'past_sessions' %>
  <%#= render 'tribe' %>
  <%#= render 'friends' %>
  <%#= render 'sections' %>
  <%#= render 'footer' %>
  <%= render 'copyrights' %>
</div>
